include README.md
include LICENSE
include requirements.txt
include config.yaml
recursive-include examples *.py
recursive-include tests *.py
recursive-include docs *.md
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .DS_Store